.modal {
    z-index: 15; 
    transform: scale(1); 
    transition: 2s;
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 90px;
    top: 13.5%;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    height: 150px;
    width: 340px;
    box-shadow: 0 0 15px #000;
    flex-flow: column nowrap;
}

.inactive {
    transform: scale(0);
}

.btn1 {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: gray;
}