.ball {
    display: flex;
    margin: 5px;
    border: 2px solid darkred;
    position: relative;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.green {
    background-color: darkgreen;
}