.chat {
    display: flex;
    top: 40px;
    margin: 1px;
    border-radius: -1px;
    padding: 8px;
        padding-bottom: 8px;
    padding-bottom: 4px;
    width: 365px;
    height: 357px;
    background-color: #262c2f;
    overflow-y: scroll;
    scroll-margin-block-end: teal;
    scrollbar-track-color: #262c2f;
    scrollbar-face-color: #262c2f;
    flex-direction: column-reverse;
    position: relative;
}