body {
    position: relative;
    display: flex; 
    scrollbar-track-color:#262c2f;
    scrollbar-face-color:#262c2f;
    margin: 0;
}
.App {
    
    position: relative;
    display: flex;
   
    width: 100vw;
    height: 100vh;
}