body {
    position: relative;
    display: flex; 
    scrollbar-track-color:#262c2f;
    scrollbar-face-color:#262c2f;
}
.App {
    position: relative;
    display: flex;
    width: 493px;
    height: 493px;
}